body{
    background-color: white;
    color: black;
    span{
        background-color: rgba(60, 0, 255, 0.456);
    }
    div{
        background-color: url(@img/cover.jpg) 0 0 no-repeat;
    }
}
@media (max-width: 20px) {
    body{
        background-color: green;
        display: grid;
    }
}


@media (max-width: 20px) {
    span{
        background-color: green;
        display: flex;
    }
}


